Hello <%= @user.firstname %>! 
<p>First Name: </p>
<%= @user.firstname %>
<br>
<p> Last Name: </p>
<%= @user.lastname %>
<br>
<p>Email:</p>
<%= @user.email %>
<br>
<br>
<%= link_to "back to forum", posts_path %>
